<div class="text-right">
    <button class="btn btn-warning" routerLink="/createuser">Add user</button>
    </div>
    <br><br>
<table class="table table-striped table-bordered" *ngIf = "data.length>0; else noDataTemplate">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Password</th>
            <th>ConformPassword</th>
            <th>PhoneNo</th>
            <th>Email</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of data ; index as i">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.conformPassword }}</td>
        <td>{{ user.phoneNo }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.city }}</td>
        <td> <button routerLink="/createuser-edit/{{i}}" class="btn btn-primary ">Edit</button>
            <button class="btn btn-danger" (click)="deleteitem(i)">Delete</button></td>
        </tr>  
    </tbody>
</table>

<ng-template #noDataTemplate>
   No data available
  </ng-template>